{% extends 'base.html' %} 
<!--block title-->
{% block title %} | About {% endblock title %}
{% block content %} {% load static %}
    
    <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
        <div class="col-md-12">
            <h1 class="display-4">Study-Focused Room 專注型房間</h1>
            <p class="lead">
            "Where journeys begin, and memories stay. 旅程從這裡開始, 回憶永遠留在心中."
            </p>
        </div>
        </div>
    </div>
    </section>

    <!-- Breadcrumb -->
    
    <section id="about" class="py-4">
    <div class="container">
        <div class="row">
        <div class="col-md-8">
            {% comment %} (DONE)fix image {% endcomment %}
            <img src={% static 'img/study_focused.png' %} alt="" />
            <h2>
            For students and scholars on the move, our study-focused rooms offer a peaceful haven for learning and reflection. These rooms feature quiet surroundings, comfortable desks, and reliable internet—ideal for exam prep, research, or remote classes. Whether you're attending a short course, preparing for interviews, or simply need a focused environment, LI JING Hostel supports your academic journey. Stay inspired, stay productive, and stay with us.
            </h2>
            <p class="lead">
            
            </p>
            
            <h2>
            為求學者及學生而設，LI JING Hostel 的專注型房間提供安靜、舒適的學習環境。房間配備書桌、穩定網絡及寧靜氛圍，適合備考、研究或遠程課程。無論您是參加短期課程、準備面試，或需要專注空間，LI JING Hostel 都是您學習旅程的理想夥伴。保持靈感，提升效率，與我們一同前行。
            </h2>
            
        </div>

        </div>
    </div>
    </section>

{% endblock %}
